# Datathon 2019

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
path = './data/Dataset'

In [3]:
df_scores = pd.read_csv(path + '/Scores.csv', index_col = 0)
df_scores.head()

   Prutor ID  Q1  Q2  Q3  Q4  Q5  Q6  TOTAL
1        101  10  20  20   0   5   4     59
2        102   0   3   0  14   0   0     17
3        103   0   0  12   8   5   0     25
4        104   0   3   8  14   5   0     30
5        105   0   0   0   0   5   0      5

In [4]:
df_pre_contest = pd.read_csv(path + '/Pre_Contest.csv', index_col = 0)
df_pre_contest.head()

,Prutor ID,Department,Semester,Current CGPA,Rate your problem solving ability on the scale of 1 to 5,Rate your coding proficiency on the scale of 1 to 5,Years of coding experience,How comfortable are you coding in C?,Which language are you most comfortable coding in?
1,101,B.Tech Computer Science,4,9.52,3.0,4.0,2-3 years,4.0,C/C++/C#
2,102,M.Tech Computer Science / M.C.A,4,7.80,2.0,3.0,2-3 years,3.0,Python
3,103,M.Tech Computer Science / M.C.A,4,7.50,4.0,3.0,>4 years,4.0,C/C++/C#
4,104,M.Tech Computer Science / M.C.A,4th,8.10,3.0,4.0,3-4 years,4.0,C/C++/C#
5,105,MCA,4,6.68,3.0,3.0,<1 year,3.0,Java

In [5]:
df_post_contest = pd.read_csv(path + '/Post_Contest.csv', index_col = 0)
df_post_contest.head()

,Prutor ID,How would you rate your Problem Solving abilities after this contest?,How would you rate your proficiency in coding in C after this contest?,How would you rate Q1?,How would you rate Q2?,How would you rate Q3?,How would you rate Q4?,How would you rate Q5?,How would you rate Q6?
1,101,3,4,3,1,1,4,5,3
2,102,2,1,4,5,3,5,3,2
3,103,3,3,3,3,3,4,4,3
4,104,4,4,5,5,4,5,4,3
5,105,3,3,3,3,3,3,3,3

In [6]:
df_pre_contest.describe()

,Prutor ID,Current CGPA,Rate your problem solving ability on the scale of 1 to 5,Rate your coding proficiency on the scale of 1 to 5,How comfortable are you coding in C?
count,111.000000,108.00000,108.000000,108.000000,108.000000
mean,160.900901,8.38663,3.175926,3.083333,3.324074
std,36.525198,0.92046,0.759103,0.762742,0.905112
min,101.000000,5.50000,1.000000,1.000000,1.000000
25%,129.500000,7.76750,3.000000,3.000000,3.000000
50%,161.000000,8.52800,3.000000,3.000000,3.000000
75%,189.500000,9.10250,4.000000,4.000000,4.000000
max,230.000000,9.97000,5.000000,5.000000,5.000000

In [7]:
df_post_contest.describe()

,Prutor ID,How would you rate your Problem Solving abilities after this contest?,How would you rate your proficiency in coding in C after this contest?,How would you rate Q1?,How would you rate Q2?,How would you rate Q3?,How would you rate Q4?,How would you rate Q5?,How would you rate Q6?
count,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000
mean,160.900901,2.792793,2.810811,3.243243,3.342342,3.207207,3.684685,3.774775,3.423423
std,36.525198,1.010105,1.083039,0.936300,1.239468,1.145085,1.103564,1.084475,0.995897
min,101.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,129.500000,2.000000,2.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
50%,161.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,3.000000
75%,189.500000,3.000000,3.000000,4.000000,4.000000,4.000000,5.000000,5.000000,4.000000
max,230.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [8]:
df_scores_pre_contest = df_scores.merge(df_pre_contest, left_on = 'Prutor ID', right_on='Prutor ID')

In [9]:
df_scores_pre_contest = df_scores_pre_contest[['Prutor ID','TOTAL', 'Rate your problem solving ability on the scale of 1 to 5', 'How comfortable are you coding in C?']]

In [10]:
df_scores_pre_contest.head()

,Prutor ID,TOTAL,Rate your problem solving ability on the scale of 1 to 5,How comfortable are you coding in C?
0,101,59,3.0,4.0
1,102,17,2.0,3.0
2,103,25,4.0,4.0
3,104,30,3.0,4.0
4,105,5,3.0,3.0

In [11]:
df_scores_pre_contest.columns = ['Prutor ID', 'TOTAL', 'PreTestRate', 'PreTestCRate']

In [12]:
df_scores_pre_contest.head()

   Prutor ID  TOTAL  PreTestRate  PreTestCRate
0        101     59          3.0           4.0
1        102     17          2.0           3.0
2        103     25          4.0           4.0
3        104     30          3.0           4.0
4        105      5          3.0           3.0

In [13]:
df_scores_post_contest = df_scores.merge(df_post_contest, left_on = 'Prutor ID', right_on='Prutor ID')

In [14]:
df_scores_post_contest = df_scores_post_contest[['Prutor ID','TOTAL', 'How would you rate your Problem Solving abilities after this contest?', 'How would you rate your proficiency in coding in C after this contest?']]

In [15]:
df_scores_post_contest.head()

,Prutor ID,TOTAL,How would you rate your Problem Solving abilities after this contest?,How would you rate your proficiency in coding in C after this contest?
0,101,59,3,4
1,102,17,2,1
2,103,25,3,3
3,104,30,4,4
4,105,5,3,3

In [16]:
df_scores_post_contest.columns = ['Prutor ID', 'TOTAL', 'PostTestRate', 'PostTestCRate']

In [17]:
df_scores_post_contest.head()

   Prutor ID  TOTAL  PostTestRate  PostTestCRate
0        101     59             3              4
1        102     17             2              1
2        103     25             3              3
3        104     30             4              4
4        105      5             3              3

In [18]:
df_scores_pre_post_contest = df_scores_pre_contest.merge(df_scores_post_contest, left_on = 'Prutor ID', right_on = 'Prutor ID')
df_scores_pre_post_contest['TOTAL'] = df_scores_pre_post_contest['TOTAL_x']
df_scores_pre_post_contest = df_scores_pre_post_contest.drop(['TOTAL_x', 'TOTAL_y'], axis=1)
df_scores_pre_post_contest.head()

   Prutor ID  PreTestRate  PreTestCRate  PostTestRate  PostTestCRate  TOTAL
0        101          3.0           4.0             3              4     59
1        102          2.0           3.0             2              1     17
2        103          4.0           4.0             3              3     25
3        104          3.0           4.0             4              4     30
4        105          3.0           3.0             3              3      5

In [19]:
df_scores_pre_post_contest['RatingDifferenceTest'] = abs(df_scores_pre_post_contest['PreTestRate'] - df_scores_pre_post_contest['PostTestRate'])
df_scores_pre_post_contest['RatingDifferenceTestC'] = abs(df_scores_pre_post_contest['PreTestCRate'] - df_scores_pre_post_contest['PostTestCRate'])
df_scores_pre_post_contest.dropna(inplace=True)

In [20]:
df_scores_pre_post_contest.head()

,Prutor ID,PreTestRate,PreTestCRate,PostTestRate,PostTestCRate,TOTAL,RatingDifferenceTest,RatingDifferenceTestC
0,101,3.0,4.0,3,4,59,0.0,0.0
1,102,2.0,3.0,2,1,17,0.0,2.0
2,103,4.0,4.0,3,3,25,1.0,1.0
3,104,3.0,4.0,4,4,30,1.0,0.0
4,105,3.0,3.0,3,3,5,0.0,0.0

In [21]:
df_scores_pre_post_contest['RatingDifferenceTest'].value_counts()

0.0    65
1.0    46
2.0    10
3.0     1
Name: RatingDifferenceTest, dtype: int64

In [22]:
df_scores_pre_post_contest['RatingDifferenceTestC'].value_counts()

0.0    57
1.0    53
2.0    11
4.0     1
Name: RatingDifferenceTestC, dtype: int64

In [23]:
df_scores_pre_post_contest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122 entries, 0 to 124
Data columns (total 8 columns):
Prutor ID                122 non-null int64
PreTestRate              122 non-null float64
PreTestCRate             122 non-null float64
PostTestRate             122 non-null int64
PostTestCRate            122 non-null int64
TOTAL                    122 non-null int64
RatingDifferenceTest     122 non-null float64
RatingDifferenceTestC    122 non-null float64
dtypes: float64(4), int64(4)
memory usage: 8.6 KB

In [24]:
df_scores_pre_post_contest['RatingDifferenceTest'] = df_scores_pre_post_contest['PreTestRate'] - df_scores_pre_post_contest['PostTestRate']
df_scores_pre_post_contest['RatingDifferenceTestC'] = df_scores_pre_post_contest['PreTestCRate'] - df_scores_pre_post_contest['PostTestCRate']
df_scores_pre_post_contest.dropna(inplace=True)