# Datathon 2019

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
path = './data/Dataset'

In [10]:
df_scores = pd.read_csv(path + '/Scores.csv', index_col = 0)
df_scores.head()

   Prutor ID  Q1  Q2  Q3  Q4  Q5  Q6  TOTAL
1        101  10  20  20   0   5   4     59
2        102   0   3   0  14   0   0     17
3        103   0   0  12   8   5   0     25
4        104   0   3   8  14   5   0     30
5        105   0   0   0   0   5   0      5

In [11]:
df_pre_contest = pd.read_csv(path + '/Pre_Contest.csv', index_col = 0)
df_pre_contest.head()

,Prutor ID,Department,Semester,Current CGPA,Rate your problem solving ability on the scale of 1 to 5,Rate your coding proficiency on the scale of 1 to 5,Years of coding experience,How comfortable are you coding in C?,Which language are you most comfortable coding in?
1,101,B.Tech Computer Science,4,9.52,3.0,4.0,2-3 years,4.0,C/C++/C#
2,102,M.Tech Computer Science / M.C.A,4,7.80,2.0,3.0,2-3 years,3.0,Python
3,103,M.Tech Computer Science / M.C.A,4,7.50,4.0,3.0,>4 years,4.0,C/C++/C#
4,104,M.Tech Computer Science / M.C.A,4th,8.10,3.0,4.0,3-4 years,4.0,C/C++/C#
5,105,MCA,4,6.68,3.0,3.0,<1 year,3.0,Java

In [12]:
df_post_contest = pd.read_csv(path + '/Post_Contest.csv', index_col = 0)
df_post_contest.head()

,Prutor ID,How would you rate your Problem Solving abilities after this contest?,How would you rate your proficiency in coding in C after this contest?,How would you rate Q1?,How would you rate Q2?,How would you rate Q3?,How would you rate Q4?,How would you rate Q5?,How would you rate Q6?
1,101,3,4,3,1,1,4,5,3
2,102,2,1,4,5,3,5,3,2
3,103,3,3,3,3,3,4,4,3
4,104,4,4,5,5,4,5,4,3
5,105,3,3,3,3,3,3,3,3