# Datathon 2019

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
path = './data/Dataset'

In [3]:
df_scores = pd.read_csv(path + '/Scores.csv', index_col = 0)
df_scores.head()

   Prutor ID  Q1  Q2  Q3  Q4  Q5  Q6  TOTAL
1        101  10  20  20   0   5   4     59
2        102   0   3   0  14   0   0     17
3        103   0   0  12   8   5   0     25
4        104   0   3   8  14   5   0     30
5        105   0   0   0   0   5   0      5

In [4]:
df_pre_contest = pd.read_csv(path + '/Pre_Contest.csv', index_col = 0)
df_pre_contest.head()

,Prutor ID,Department,Semester,Current CGPA,Rate your problem solving ability on the scale of 1 to 5,Rate your coding proficiency on the scale of 1 to 5,Years of coding experience,How comfortable are you coding in C?,Which language are you most comfortable coding in?
1,101,B.Tech Computer Science,4,9.52,3.0,4.0,2-3 years,4.0,C/C++/C#
2,102,M.Tech Computer Science / M.C.A,4,7.80,2.0,3.0,2-3 years,3.0,Python
3,103,M.Tech Computer Science / M.C.A,4,7.50,4.0,3.0,>4 years,4.0,C/C++/C#
4,104,M.Tech Computer Science / M.C.A,4th,8.10,3.0,4.0,3-4 years,4.0,C/C++/C#
5,105,MCA,4,6.68,3.0,3.0,<1 year,3.0,Java

In [5]:
df_post_contest = pd.read_csv(path + '/Post_Contest.csv', index_col = 0)
df_post_contest.head()

,Prutor ID,How would you rate your Problem Solving abilities after this contest?,How would you rate your proficiency in coding in C after this contest?,How would you rate Q1?,How would you rate Q2?,How would you rate Q3?,How would you rate Q4?,How would you rate Q5?,How would you rate Q6?
1,101,3,4,3,1,1,4,5,3
2,102,2,1,4,5,3,5,3,2
3,103,3,3,3,3,3,4,4,3
4,104,4,4,5,5,4,5,4,3
5,105,3,3,3,3,3,3,3,3

In [6]:
df_pre_contest.describe()

,Prutor ID,Current CGPA,Rate your problem solving ability on the scale of 1 to 5,Rate your coding proficiency on the scale of 1 to 5,How comfortable are you coding in C?
count,111.000000,108.00000,108.000000,108.000000,108.000000
mean,160.900901,8.38663,3.175926,3.083333,3.324074
std,36.525198,0.92046,0.759103,0.762742,0.905112
min,101.000000,5.50000,1.000000,1.000000,1.000000
25%,129.500000,7.76750,3.000000,3.000000,3.000000
50%,161.000000,8.52800,3.000000,3.000000,3.000000
75%,189.500000,9.10250,4.000000,4.000000,4.000000
max,230.000000,9.97000,5.000000,5.000000,5.000000

In [7]:
df_post_contest.describe()

,Prutor ID,How would you rate your Problem Solving abilities after this contest?,How would you rate your proficiency in coding in C after this contest?,How would you rate Q1?,How would you rate Q2?,How would you rate Q3?,How would you rate Q4?,How would you rate Q5?,How would you rate Q6?
count,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000
mean,160.900901,2.792793,2.810811,3.243243,3.342342,3.207207,3.684685,3.774775,3.423423
std,36.525198,1.010105,1.083039,0.936300,1.239468,1.145085,1.103564,1.084475,0.995897
min,101.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,129.500000,2.000000,2.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
50%,161.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,3.000000
75%,189.500000,3.000000,3.000000,4.000000,4.000000,4.000000,5.000000,5.000000,4.000000
max,230.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [8]:
df_scores_pre_contest = df_scores.merge(df_pre_contest, left_on = 'Prutor ID', right_on='Prutor ID')

In [9]:
df_scores_pre_contest = df_scores_pre_contest[['Prutor ID','TOTAL', 'Rate your problem solving ability on the scale of 1 to 5', 'How comfortable are you coding in C?']]

In [10]:
df_scores_pre_contest.head()

,Prutor ID,TOTAL,Rate your problem solving ability on the scale of 1 to 5,How comfortable are you coding in C?
0,101,59,3.0,4.0
1,102,17,2.0,3.0
2,103,25,4.0,4.0
3,104,30,3.0,4.0
4,105,5,3.0,3.0

In [11]:
df_scores_pre_contest.columns = ['Prutor ID', 'TOTAL', 'PreTestRate', 'PreTestCRate']

In [12]:
df_scores_pre_contest.head()

   Prutor ID  TOTAL  PreTestRate  PreTestCRate
0        101     59          3.0           4.0
1        102     17          2.0           3.0
2        103     25          4.0           4.0
3        104     30          3.0           4.0
4        105      5          3.0           3.0

In [13]:
df_scores_post_contest = df_scores.merge(df_post_contest, left_on = 'Prutor ID', right_on='Prutor ID')

In [14]:
df_scores_post_contest = df_scores_post_contest[['Prutor ID','TOTAL', 'How would you rate your Problem Solving abilities after this contest?', 'How would you rate your proficiency in coding in C after this contest?']]

In [15]:
df_scores_post_contest.head()

,Prutor ID,TOTAL,How would you rate your Problem Solving abilities after this contest?,How would you rate your proficiency in coding in C after this contest?
0,101,59,3,4
1,102,17,2,1
2,103,25,3,3
3,104,30,4,4
4,105,5,3,3

In [16]:
df_scores_post_contest.columns = ['Prutor ID', 'TOTAL', 'PostTestRate', 'PostTestCRate']

In [17]:
df_scores_post_contest.head()

   Prutor ID  TOTAL  PostTestRate  PostTestCRate
0        101     59             3              4
1        102     17             2              1
2        103     25             3              3
3        104     30             4              4
4        105      5             3              3

In [16]:
df_scores_pre_contest = df_scores.merge(df_pre_contest, left_on = 'Prutor ID', right_on='Prutor ID')

In [17]:
df_scores_pre_contest.groupby(['Department', 'Years of coding experience']).mean()

                                                             Prutor ID  \
Department                      Years of coding experience
B.Tech Civil / Mechanical       3-4 years                   147.000000
B.Tech Computer Science         1-2 years                   153.000000
                                2-3 years                   145.909091
                                3-4 years                   153.500000
                                <1 year                     150.250000
                                >4 years                    139.750000
B.Tech Electrical / Electronics 1-2 years                   119.000000
                                2-3 years                   155.000000
M.Tech Computer Science / M.C.A 1-2 years                   163.166667
                                2-3 years                   168.909091
                                3-4 years                   186.400000
                                <1 year                     177.000000
                                >4 years                    165.333333
MCA                             3-4 years                   200.000000
                                <1 year                     105.000000

                                                                   Q1  \
Department                      Years of coding experience
B.Tech Civil / Mechanical       3-4 years                   10.000000
B.Tech Computer Science         1-2 years                    8.571429
                                2-3 years                   10.909091
                                3-4 years                   15.000000
                                <1 year                     10.000000
                                >4 years                    16.250000
B.Tech Electrical / Electronics 1-2 years                    0.000000
                                2-3 years                    5.000000
M.Tech Computer Science / M.C.A 1-2 years                    2.083333
                                2-3 years                    1.818182
                                3-4 years                    1.000000
                                <1 year                      0.000000
                                >4 years                     1.666667
MCA                             3-4 years                    0.000000
                                <1 year                      0.000000

                                                                   Q2  \
Department                      Years of coding experience
B.Tech Civil / Mechanical       3-4 years                    3.000000
B.Tech Computer Science         1-2 years                   14.714286
                                2-3 years                   15.363636
                                3-4 years                   20.000000
                                <1 year                      5.750000
                                >4 years                    13.000000
B.Tech Electrical / Electronics 1-2 years                    0.000000
                                2-3 years                   10.000000
M.Tech Computer Science / M.C.A 1-2 years                    4.166667
                                2-3 years                    3.454545
                                3-4 years                    3.300000
                                <1 year                      2.727273
                                >4 years                     1.666667
MCA                             3-4 years                    0.000000
                                <1 year                      0.000000

                                                                   Q3  \
Department                      Years of coding experience
B.Tech Civil / Mechanical       3-4 years                   18.000000
B.Tech Computer Science         1-2 years                   15.047619
                                2-3 years                   16.909091
                                3-4 years                   20.000000
                                <1 year                     15.000000
                                >4 years                    20.000000
B.Tech Electrical / Electronics 1-2 years                   14.000000
                                2-3 years                   10.000000
M.Tech Computer Science / M.C.A 1-2 years                    7.833333
                                2-3 years                   10.818182
                                3-4 years                    8.800000
                                <1 year                     10.727273
                                >4 years                     7.666667
MCA                             3-4 years                    7.000000
                                <1 year                      0.000000

                                                                   Q4  \
Department                      Years of coding experience
B.Tech Civil / Mechanical       3-4 years                   12.000000
B.Tech Computer Science         1-2 years                    8.380952
                                2-3 years                    5.090909
                                3-4 years                   13.000000
                                <1 year                      3.500000
                                >4 years                     6.500000
B.Tech Electrical / Electronics 1-2 years                    0.000000
                                2-3 years                    0.000000
M.Tech Computer Science / M.C.A 1-2 years                    5.833333
                                2-3 years                    9.909091
                                3-4 years                    5.600000
                                <1 year                      9.636364
                                >4 years                     6.000000
MCA                             3-4 years                    7.000000
                                <1 year                      0.000000

                                                                  Q5  \
Department                      Years of coding experience
B.Tech Civil / Mechanical       3-4 years                   5.000000
B.Tech Computer Science         1-2 years                   4.761905
                                2-3 years                   2.727273
                                3-4 years                   2.500000
                                <1 year                     6.250000
                                >4 years                    2.500000
B.Tech Electrical / Electronics 1-2 years                   0.000000
                                2-3 years                   2.500000
M.Tech Computer Science / M.C.A 1-2 years                   2.500000
                                2-3 years                   3.409091
                                3-4 years                   4.000000
                                <1 year                     3.636364
                                >4 years                    2.500000
MCA                             3-4 years                   0.000000
                                <1 year                     5.000000

                                                                   Q6  \
Department                      Years of coding experience
B.Tech Civil / Mechanical       3-4 years                    0.000000
B.Tech Computer Science         1-2 years                    6.285714
                                2-3 years                    9.636364
                                3-4 years                   20.000000
                                <1 year                      9.000000
                                >4 years                     9.000000
B.Tech Electrical / Electronics 1-2 years                    4.000000
                                2-3 years                    3.000000
M.Tech Computer Science / M.C.A 1-2 years                    0.166667
                                2-3 years                    0.090909
                                3-4 years                    0.000000
                                <1 year                      1.454545
                                >4 years                     0.666667
MCA                             3-4 years                    0.000000
                                <1 year                      0.000000

                                                                TOTAL  \
Department                      Years of coding experience
B.Tech Civil / Mechanical       3-4 years                   48.000000
B.Tech Computer Science         1-2 years                   57.761905
                                2-3 years                   60.636364
                                3-4 years                   90.500000
                                <1 year                     49.500000
                                >4 years                    67.250000
B.Tech Electrical / Electronics 1-2 years                   18.000000
                                2-3 years                   30.500000
M.Tech Computer Science / M.C.A 1-2 years                   22.583333
                                2-3 years                   29.500000
                                3-4 years                   22.700000
                                <1 year                     28.181818
                                >4 years                    20.166667
MCA                             3-4 years                   14.000000
                                <1 year                      5.000000

                                                            Current CGPA  \
Department                      Years of coding experience
B.Tech Civil / Mechanical       3-4 years                       9.100000
B.Tech Computer Science         1-2 years                       8.809333
                                2-3 years                       9.129091
                                3-4 years                       8.510000
                                <1 year                         8.990000
                                >4 years                        9.207500
B.Tech Electrical / Electronics 1-2 years                       7.040000
                                2-3 years                       8.925000
M.Tech Computer Science / M.C.A 1-2 years                       7.627500
                                2-3 years                       8.114091
                                3-4 years                       8.272000
                                <1 year                         7.962727
                                >4 years                        8.471667
MCA                             3-4 years                       7.250000
                                <1 year                         6.680000

                                                            Rate your problem solving ability on the scale of 1 to 5  \
Department                      Years of coding experience
B.Tech Civil / Mechanical       3-4 years                                                            4.000000
B.Tech Computer Science         1-2 years                                                            3.571429
                                2-3 years                                                            3.454545
                                3-4 years                                                            3.000000
                                <1 year                                                              2.500000
                                >4 years                                                             4.250000
B.Tech Electrical / Electronics 1-2 years                                                            3.000000
                                2-3 years                                                            3.500000
M.Tech Computer Science / M.C.A 1-2 years                                                            3.000000
                                2-3 years                                                            3.000000
                                3-4 years                                                            2.400000
                                <1 year                                                              2.545455
                                >4 years                                                             3.500000
MCA                             3-4 years                                                            3.500000
                                <1 year                                                              3.000000

                                                            Rate your coding proficiency on the scale of 1 to 5  \
Department                      Years of coding experience
B.Tech Civil / Mechanical       3-4 years                                                            4.000000
B.Tech Computer Science         1-2 years                                                            3.523810
                                2-3 years                                                            3.363636
                                3-4 years                                                            3.000000
                                <1 year                                                              2.500000
                                >4 years                                                             4.250000
B.Tech Electrical / Electronics 1-2 years                                                            3.000000
                                2-3 years                                                            3.000000
M.Tech Computer Science / M.C.A 1-2 years                                                            3.000000
                                2-3 years                                                            2.863636
                                3-4 years                                                            2.500000
                                <1 year                                                              2.454545
                                >4 years                                                             3.000000
MCA                             3-4 years                                                            3.000000
                                <1 year                                                              3.000000

                                                            How comfortable are you coding in C?
Department                      Years of coding experience
B.Tech Civil / Mechanical       3-4 years                                               3.000000
B.Tech Computer Science         1-2 years                                               4.047619
                                2-3 years                                               3.909091
                                3-4 years                                               3.000000
                                <1 year                                                 2.500000
                                >4 years                                                4.250000
B.Tech Electrical / Electronics 1-2 years                                               4.000000
                                2-3 years                                               4.000000
M.Tech Computer Science / M.C.A 1-2 years                                               2.583333
                                2-3 years                                               3.272727
                                3-4 years                                               3.000000
                                <1 year                                                 2.454545
                                >4 years                                                3.000000
MCA                             3-4 years                                               3.000000
                                <1 year                                                 3.000000

In [22]:
df_scores_pre_contest.groupby(['Department', 'Years of coding experience']).count()

                                                            Prutor ID  Q1  Q2  \
Department                      Years of coding experience
B.Tech Civil / Mechanical       3-4 years                           1   1   1
B.Tech Computer Science         1-2 years                          21  21  21
                                2-3 years                          11  11  11
                                3-4 years                           2   2   2
                                <1 year                             4   4   4
                                >4 years                            4   4   4
B.Tech Electrical / Electronics 1-2 years                           1   1   1
                                2-3 years                           2   2   2
M.Tech Computer Science / M.C.A 1-2 years                          12  12  12
                                2-3 years                          22  22  22
                                3-4 years                          10  10  10
                                <1 year                            11  11  11
                                >4 years                            6   6   6
MCA                             3-4 years                           2   2   2
                                <1 year                             1   1   1

                                                            Q3  Q4  Q5  Q6  \
Department                      Years of coding experience
B.Tech Civil / Mechanical       3-4 years                    1   1   1   1
B.Tech Computer Science         1-2 years                   21  21  21  21
                                2-3 years                   11  11  11  11
                                3-4 years                    2   2   2   2
                                <1 year                      4   4   4   4
                                >4 years                     4   4   4   4
B.Tech Electrical / Electronics 1-2 years                    1   1   1   1
                                2-3 years                    2   2   2   2
M.Tech Computer Science / M.C.A 1-2 years                   12  12  12  12
                                2-3 years                   22  22  22  22
                                3-4 years                   10  10  10  10
                                <1 year                     11  11  11  11
                                >4 years                     6   6   6   6
MCA                             3-4 years                    2   2   2   2
                                <1 year                      1   1   1   1

                                                            TOTAL  Semester  \
Department                      Years of coding experience
B.Tech Civil / Mechanical       3-4 years                       1         1
B.Tech Computer Science         1-2 years                      21        21
                                2-3 years                      11        11
                                3-4 years                       2         2
                                <1 year                         4         4
                                >4 years                        4         4
B.Tech Electrical / Electronics 1-2 years                       1         1
                                2-3 years                       2         2
M.Tech Computer Science / M.C.A 1-2 years                      12        12
                                2-3 years                      22        22
                                3-4 years                      10        10
                                <1 year                        11        11
                                >4 years                        6         6
MCA                             3-4 years                       2         2
                                <1 year                         1         1

                                                            Current CGPA  \
Department                      Years of coding experience
B.Tech Civil / Mechanical       3-4 years                              1
B.Tech Computer Science         1-2 years                             21
                                2-3 years                             11
                                3-4 years                              2
                                <1 year                                4
                                >4 years                               4
B.Tech Electrical / Electronics 1-2 years                              1
                                2-3 years                              2
M.Tech Computer Science / M.C.A 1-2 years                             12
                                2-3 years                             22
                                3-4 years                             10
                                <1 year                               11
                                >4 years                               6
MCA                             3-4 years                              2
                                <1 year                                1

                                                            Rate your problem solving ability on the scale of 1 to 5  \
Department                      Years of coding experience
B.Tech Civil / Mechanical       3-4 years                                                                   1
B.Tech Computer Science         1-2 years                                                                  21
                                2-3 years                                                                  11
                                3-4 years                                                                   2
                                <1 year                                                                     4
                                >4 years                                                                    4
B.Tech Electrical / Electronics 1-2 years                                                                   1
                                2-3 years                                                                   2
M.Tech Computer Science / M.C.A 1-2 years                                                                  12
                                2-3 years                                                                  22
                                3-4 years                                                                  10
                                <1 year                                                                    11
                                >4 years                                                                    6
MCA                             3-4 years                                                                   2
                                <1 year                                                                     1

                                                            Rate your coding proficiency on the scale of 1 to 5  \
Department                      Years of coding experience
B.Tech Civil / Mechanical       3-4 years                                                                   1
B.Tech Computer Science         1-2 years                                                                  21
                                2-3 years                                                                  11
                                3-4 years                                                                   2
                                <1 year                                                                     4
                                >4 years                                                                    4
B.Tech Electrical / Electronics 1-2 years                                                                   1
                                2-3 years                                                                   2
M.Tech Computer Science / M.C.A 1-2 years                                                                  12
                                2-3 years                                                                  22
                                3-4 years                                                                  10
                                <1 year                                                                    11
                                >4 years                                                                    6
MCA                             3-4 years                                                                   2
                                <1 year                                                                     1

                                                            How comfortable are you coding in C?  \
Department                      Years of coding experience
B.Tech Civil / Mechanical       3-4 years                                                      1
B.Tech Computer Science         1-2 years                                                     21
                                2-3 years                                                     11
                                3-4 years                                                      2
                                <1 year                                                        4
                                >4 years                                                       4
B.Tech Electrical / Electronics 1-2 years                                                      1
                                2-3 years                                                      2
M.Tech Computer Science / M.C.A 1-2 years                                                     12
                                2-3 years                                                     22
                                3-4 years                                                     10
                                <1 year                                                       11
                                >4 years                                                       6
MCA                             3-4 years                                                      2
                                <1 year                                                        1

                                                            Which language are you most comfortable coding in?
Department                      Years of coding experience
B.Tech Civil / Mechanical       3-4 years                                                                   1
B.Tech Computer Science         1-2 years                                                                  21
                                2-3 years                                                                  11
                                3-4 years                                                                   2
                                <1 year                                                                     4
                                >4 years                                                                    4
B.Tech Electrical / Electronics 1-2 years                                                                   1
                                2-3 years                                                                   2
M.Tech Computer Science / M.C.A 1-2 years                                                                  12
                                2-3 years                                                                  22
                                3-4 years                                                                  10
                                <1 year                                                                    11
                                >4 years                                                                    6
MCA                             3-4 years                                                                   2
                                <1 year                                                                     1